<!DOCTYPE html>
<html lang="en">
  <head>
    <title>North Kolkata</title>
    <meta property="og:title" content="Traveler template" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Karla;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <!--This is the head section-->
    <!-- <style> ... </style> -->
  </head>
  <body>
    <link rel="stylesheet" href="../static/style.css" />
    <div>
      <link href="../static/north_kolkata.css" rel="stylesheet" />

      <div class="home-container">
        <section class="home-hero">
          <div class="home-main">
            <div class="home-video">
              <video
                src=""
                poster="../static/DSC_0189.JPG"
                class="home-video1">
              </video>
              <div class="home-tint"></div>
            </div>
              <div class="home-center">
                <div class="home-heading">
                  <h1 class="home-header">উত্তরের মাধুর্য্য</h1>
                  <p class="home-caption">
                    Find a local guide consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="tours" class="home-quick-view">
          <div class="home-main1">
            <div class="home-heading01">
              <h2 class="home-header01">উত্তরের মাধুর্য্য</h2>
              <p class="home-caption01">
                Lorem ipsum dolor sit consectetur adipiscing elit, sed do
                eiusmod tempor incididunt.
              </p>
            </div>
            
            <div class="home-sorting">
              <button class="home-option-primary button">All</button>
              <button class="button-option button">Popular</button>
              <button class="button-option button">Featured</button>
              <button class="button-option button">Trending</button>
            </div>
          </div>
          <div class="home-offers">
            <a href="north_kolkata.html">
              <div class="home-offer-container">
                <div class="offer-offer">
                  <img
                    alt="image"
                    src="../static/DSC_0189.JPG"
                    class="offer-image"
                  />
                  <div class="offer-content">
                    <div class="offer-details">
                      <span class="offer-text"><span>Bagbazar Sarbojonin (বাগবাজার সার্বজনীন)</span></span>
                      <span class="offer-text1">
                        <span>3 Local guides</span>
                      </span>
                    </div>
                    <span class="offer-text2">
                      <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt.
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </a>
            <a href="north_kolkata.html">
              <div class="home-offer-container1">
                <div class="offer-offer">
                  <img
                    alt="image"
                    src="../static/Sovabajar_Rajbari.jpeg"
                    class="offer-image"
                  />
                  <div class="offer-content">
                    <div class="offer-details">
                      <span class="offer-text">
                        <span>Sovabazar Rajbari (শোভাবাজার রাজবাড়ী)</span>
                      </span>
                      <span class="offer-text1">
                        <span>54 Local guides</span>
                      </span>
                    </div>
                    <span class="offer-text2">
                      <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt.
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </a>
            <a href="north_kolkata.html">
              <div class="home-offer-container2">
                <div class="offer-offer">
                  <img
                    alt="image"
                    src="../static/1697621825_1697531858735-01.jpg"
                    class="offer-image"
                  />
                  <div class="offer-content">
                    <div class="offer-details">
                      <span class="offer-text">
                        <span>Hatibagan Nobin Pally (হাতিবাগান নবীন পল্লী)</span>
                      </span>
                      <span class="offer-text1">
                        <span>34 Local Guides</span>
                      </span>
                    </div>
                    <span class="offer-text2">
                      <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt.
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </a>
            <a href="north_kolkata.html">
              <div class="home-offer-container3">
                <div class="offer-offer">
                  <img
                    alt="image"
                    src="../static/DSC_0591.JPG"
                    class="offer-image"
                  />
                  <div class="offer-content">
                    <div class="offer-details">
                      <span class="offer-text"><span>Kumartuli Sorbojonin (কুমোরটুলি সর্বজনীন)</span></span>
                      <span class="offer-text1">
                        <span>1 Local guide</span>
                      </span>
                    </div>
                    <span class="offer-text2">
                      <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt.
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </a>
            <a href="north_kolkata.html">
              <div class="home-offer-container4">
                <div class="offer-offer">
                  <img
                    alt="image"
                    src="../static/DSC_0138.JPG"
                    class="offer-image"
                  />
                  <div class="offer-content">
                    <div class="offer-details">
                      <span class="offer-text">
                        <span>Chorbagan Sorbojonin (চোরবাগান সর্বজনীন)</span>
                      </span>
                      <span class="offer-text1">
                        <span>6 Local guides</span>
                      </span>
                    </div>
                    <span class="offer-text2">
                      <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt.
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </a>
            <a href="north_kolkata.html">
              <div class="home-offer-container5">
                <div class="offer-offer">
                  <img
                    alt="image"
                    src="../static/DSC_0756.JPG"
                    class="offer-image"
                  />
                  <div class="offer-content">
                    <div class="offer-details">
                      <span class="offer-text"><span>Bodon Roy Rajbari (বদন রায় রাজবাড়ি)</span></span>
                      <span class="offer-text1">
                        <span>132 Local guides</span>
                      </span>
                    </div>
                    <span class="offer-text2">
                      <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt.
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </a>
            <a href="north_kolkata.html">
              <div class="home-offer-container6">
                <div class="offer-offer">
                  <img
                    alt="image"
                    src="../static/DSC_1331.JPG"
                    class="offer-image"
                  />
                  <div class="offer-content">
                    <div class="offer-details">
                      <span class="offer-text"><span>Narasingha Dawn Bari (নরসিংহ দাঁ বাড়ি)</span></span>
                      <span class="offer-text1">
                        <span>1 Local guide</span>
                      </span>
                    </div>
                    <span class="offer-text2">
                      <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt.
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </a>
            <a href="north_kolkata.html">
              <div class="home-offer-container7">
                <div class="offer-offer">
                  <img
                    alt="image"
                    src="../static/DSC_1354.JPG"
                    class="offer-image"
                  />
                  <div class="offer-content">
                    <div class="offer-details">
                      <span class="offer-text">
                        <span>Shibkrishna Dawn Bari (শিবকৃষ্ণ দাঁ বাড়ি)</span>
                      </span>
                      <span class="offer-text1">
                        <span>6 Local guides</span>
                      </span>
                    </div>
                    <span class="offer-text2">
                      <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt.
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </a>
            <a href="north_kolkata.html">
              <div class="home-offer-container8">
                <div class="offer-offer">
                  <img
                    alt="image"
                    src="../static/DSC_0997.JPG"
                    class="offer-image"
                  />
                  <div class="offer-content">
                    <div class="offer-details">
                      <span class="offer-text"><span>Bosu Mullick Bari, College Street (বসুমল্লিক বাড়ি, কলেজ স্ট্রিট)</span></span>
                      <span class="offer-text1">
                        <span>132 Local guides</span>
                      </span>
                    </div>
                    <span class="offer-text2">
                      <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt.
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </section>
        <section class="home-testimonials">
          <div class="home-content02">
            <div class="home-heading02">
              <span class="home-title">Customer testimonial</span>
              <p class="home-quote">
                “We’ve used Traveler to lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.”
              </p>
            </div>
            <div class="home-details">
              <div class="home-author">
                <img
                  alt="image"
                  src="public/Avatar/quote-200h.png"
                  class="home-avatar"
                />
                <span class="home-name">Michael McDonald</span>
              </div>
              <div class="home-controls">
                <div class="page"><span class="home-text13">&lt;</span></div>
                <div class="home-next1 page">
                  <span class="home-text14">&lt;</span>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="home-footer">
          <div class="home-content12">
            <div class="home-main2">
              <div class="home-branding">
                <div class="home-heading10">
                  <img alt="image" src="public/logo.svg" class="home-image6" />
                  <p class="home-caption10">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore
                  </p>
                </div>
              </div>
        </section>
        <div>
          <div class="home-container4">
            <script>
              function initAccordion() {
                /*
                Accordion - Code Embed
                */
                const accordionContainers = document.querySelectorAll('data-role=','accordion-container');
                // All accordion containers
                const accordionContent = document.querySelectorAll('data-role=','accordion-content,');
                // All accordion content
                const accordionIconsClosed = document.querySelectorAll('data-role=','accordion-icon-closed');
                // All accordion closed icons
                const accordionIconsOpen = document.querySelectorAll('data-role=','accordion-container');
                // All accordion open icons

                accordionContents.forEach((accordionContent) => {
                  accordionContent.style.display = 'none'; //Hides all accordion contents
                });

                accordionIconsClosed.forEach((icon) => {
                  icon.style.display = 'flex';
                });

                accordionIconsOpen.forEach((icon) => {
                  icon.style.display = 'none';
                });

                accordionContainers.forEach((accordionContainer, index) => {
                  if (accordionContainer.classList.contains('initialised')) {
                    return;
                  }

                  accordionContainer.classList.add('initiased');

                  accordionContainer.addEventListener('click', () => {
                    if (accordionContents[index].style.display === 'flex') {
                      // If the accordion is already open, close it
                      accordionContents[index].style.display = 'none';
                      accordionIconsClosed[index].style.display = 'flex';
                      accordionIconsOpen[index].style.display = 'none';
                    } else {
                      // If the accordion is closed, open it
                      accordionContents.forEach((accordionContent) => {
                        accordionContent.style.display = 'none'; //Hides all accordion contents
                      });

                      accordionIconsClosed.forEach((accordionIcon) => {
                        accordionIcon.style.display = 'flex'; // Resets all icon transforms to 0deg (default)
                      });

                      accordionIconsOpen.forEach((accordionIcon) => {
                        accordionIcon.style.display = 'none';
                      });

                      accordionContents[index].style.display = 'flex'; // Shows accordion content
                      accordionIconsClosed[index].style.display = 'none'; // Rotates accordion icon 180deg
                      accordionIconsOpen[index].style.display = 'flex';
                    }
                  });
                });
              }

              initAccordion();
            </script>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
